<div style="margin:20px; text-align: center;"><strong>Retorno de solicitação de dúvidas</strong></div>

<div>
<strong>Olá, {{aluno}}</strong>
<p>Sua solicitação foi respondida, confira os detalhes abaixo:</p>
<br />

<p style="text-align: justify;">
    <strong>Numero: </strong> {{ordemServicoId}} <br />
    <strong>Tipo: </strong> {{tipoOrdemServico}} <br />
    <strong>Solicitação: </strong> {{solicitacao}} <br />
    <strong>Data/Hora: </strong> {{data}} <br />

  <br />
  <small>Acesse nosso app, e confira o retorno</small>
</p>
</div>
